@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* For outside click */
.app-layout {
  min-height: 100vh;
}
/* for dev purpose */
.tests {
  max-width: 600px;
  border: 2px solid #fff;
  text-align: center;
}


 
@media (max-width: 768px) {
  .card {
    width: 95%;
  }
  #delete-button,
.arrow-button {
  margin: 0px 10px 0px 15px;
}
}

@media (max-width: 576px) {
  .app .row .mixed-chart {
    width: 90%;
  }

  .addNorm {
    top: 70px;
    right: unset;
    width: 95%;
    padding: 10px;
  }

  #search-box {
    -webkit-transform: translate(-30%);
    -ms-transform: translate(-30%);
    transform: translate(-30%);
    width: 150px;

  }
  #search:focus,
  #search:active {
    width: 120px;
  }

  .month-year {
    top: -10px;
    left: 40px;
  }

  .card {
    border-radius: 0px !important;
    width: 95% !important;
  }
  #delete-button,
  .arrow-button {
    margin: 0px 10px 0px 25px;
  }
  #profile-button {
    left: 50px;
  }
}

#SvgjsText4182 {
  position: absolute;
}

@media (max-width: 340px) {
  .addNorm {
    padding: 0;
  }
 }



/* profile buutton */
#profile-button {
  position: absolute;
  top: 10px;
  left: 110px;
  background: transparent;
  border: none;
  user-select: none !important;
  outline: none !important;
}

#logout-button {
  z-index: 5 !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

#profile-button svg {
  width: 22px;
  height: 22px;
  fill: #5bc0de;

}

#profile {
  position: absolute;
  top: 50px;
  left: 70px;
  min-width: 150px;
  text-align: center;
  height: 180px;
  max-height: 400px;
  overflow: hidden;
  border: 1px solid #5bc0de;
  border-radius: 15px;
  padding: 10px;
  z-index: 2;
}

#profile-layer {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

