@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* for dev purpose */
.tests {
  max-width: 600px;
  border: 2px solid #fff;
  text-align: center;
}

@media (max-width: 576px) {
  .app .row .mixed-chart {
    width: 90%;
  }

  .addNorm {
    top: 70px;
    right: unset;
    width: 95%;
    padding: 20px;
  }

  #search-box {
    -webkit-transform: translate(-30%);
    -ms-transform: translate(-30%);
    transform: translate(-30%);
  }
  #search:focus,
  #search:active {
    width: 140px;
  }

  .month-year {
    top: -10px;
    left: 40px;
  }

  .card {
    border-radius: 0px !important;
    /* border-left: 2px solid rgba(255, 255, 255, 0.7) !important; */
    width: 95% !important;
  }
  #delete-button,
  .arrow-button {
    margin: 0px 10px 0px 25px;
  }
}

#SvgjsText4182 {
  position: absolute;
}
@media (max-width: 768px) {
  .card {
    width: 95%;
  }
  #delete-button,
.arrow-button {
  margin: 0px 10px 0px 15px;
}
}

/* profile buutton */
.profile-button {
  position: absolute;
  top: 10px;
  left: 110px;
  margin-left: 20px;
  background: transparent;
  border: none;
  user-select: none;
}

.profile {
  position: absolute;
  top: 50px;
  left: 70px;
  width: 150px;
  text-align: center;
  max-height: 400px;
  overflow: hidden;
  border: 1px solid #5bc0de;
  padding: 10px;
  border-radius: 15px;

}

/* @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... } */
